{% extends 'base.html' %}
{% block title %} My Profile {% endblock  %}
{% load static %}

{% block content %}
<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>My Profile </h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>My Profile </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1">
        <img src="{% static 'assets/images/banner/breadcrumb-1.png' %}" alt="">
    </div>
    <div class="breadcrumb-img-2">
        <img src="{% static 'assets/images/banner/breadcrumb-2.png' %}" alt="">
    </div>
</div>

{% include 'includes/message.html' %}
<!-- my account wrapper start -->
<div class="my-account-wrapper pb-100 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">

                        {% include 'includes/dashboard_silebar.html' %}

                        
                        <div class="col-lg-9 col-md-8">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
 
                                    <div class="myaccount-content">
                                        <h3>Account Details</h3>
                                        <div class="account-details-form">
                                            <form action="{% url 'edit_profile' %}" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="first-name" class="required">First Name</label>
                                                            {{user_form.first_name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="last-name" class="required">Last Name</label>
                                                            {{user_form.last_name}}
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="username" class="required">User Name</label>
                                                            {{user_form.username}}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="email" class="required">Email</label>
                                                            {{user_form.email}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="phone_number" class="required">Phone Number</label>
                                                            {{user_form.phone_number}}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="profile_picture">Profile Picture</label>
                                                            {{profile_form.profile_picture}}
                                                        </div>
                                                    </div>
                                                </div>   






                                                <div class="single-input-item">
                                                    <label for="text">Address</label>
                                                    {{profile_form.address}}
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="single-input-item">
                                                            <label for="city" >City</label>
                                                            {{profile_form.city}}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="single-input-item">
                                                            <label for="state" >State</label>
                                                            {{profile_form.state}}
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="single-input-item">
                                                            <label for="country" >Country</label>
                                                            {{profile_form.country}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="single-input-item btn-hover">
                                                    <button type="submit" class="check-btn sqr-btn">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
       
                                <!-- Single Tab Content End -->


                            </div>
                        </div> <!-- My Account Tab Content End -->
                    </div>
                </div> <!-- My Account Page End -->
            </div>
        </div>
    </div>
</div>
<!-- my account wrapper end -->

{% endblock  %}
    