{% extends 'base.html' %}
{% load static %}
{% block title %} My Blog {% endblock  %}
{% load humanize %}


{% block content %}
<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Blog</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Blog </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="{% static 'assets/images/banner/breadcrumb-1.png' %}" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="{% static 'assets/images/banner/breadcrumb-2.png' %}" alt="">
    </div>
</div>


<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">

            
            {% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                    <div class="blog-img-date-wrap mb-25">
                        <div class="blog-img">
                            <a href="/blog/{{ post.id }}/{{ post.slug }}"><img src="{{post.image.url}}" alt="" style="min-height:250px; max-width:370px;"></a>
                        </div>
                        <div class="blog-date">
                            <h5>{{post.created_on|date:'d'}} <span>{{post.created_on|date:'M'}}</span></h5>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h3><a href="/blog/{{ post.id }}/{{ post.slug }}">{{post.title|truncatechars:45}}.</a></h3>
                        <p>{{post.content|safe|truncatechars:80}}.</p>
                        <div class="blog-btn-2 btn-hover">
                            <a class="btn hover-border-radius theme-color" href="/blog/{{ post.id }}/{{ post.slug }}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
                            
            {% endfor %}
                
        </div>
        <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
            <ul>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock  %}
    